:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2a2a2a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.calc-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #161616;
  cursor: pointer;
  transition: border-color 0.25s;
}
.calc-button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10vh 5vw; 
}

.box{
  display: flex;
  align-content: center;
  justify-content: center;
  width:20vw;
  height:15vh;
  padding-top: 6vh;
  color:#d4d4d4;
  font-size: 2vw;

  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  
  transition: border-color 0.25s;
}

.simple-calc-buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #2d2d2d;
  border-radius: 50px;

}

.equal-button{
  background-color: #213547;
  border-radius: 10px;
}

.equal-button:hover{
  border-color: #75c55d;
}

.simple-calc-input{
  width: 200px;
  height: 30px;
}

@keyframes lights {
  0% {
    color: hsl(230, 100%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0.5),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0.5);
  }
  
  25% {
    color: hsl(290, 100%, 85%);
    text-shadow:
      0 0 1em hsla(290, 100%, 50%, 0.7),
      0 0 0.125em hsla(290, 100%, 60%, 0.7),
      -0.75em -0.125em 0.4em hsla(60, 100%, 60%, 0.5),
      0.75em 0.125em 0.4em hsla(150, 100%, 60%, 0.7);
  }
  
  50% { 
    color: hsl(360, 100%, 90%);
    text-shadow:
      0 0 1em hsla(360, 100%, 50%, 0.9),
      0 0 0.125em hsla(360, 100%, 90%, 0.9),
      -0.5em -0.125em 0.3em hsla(120, 100%, 60%, 0.7),
      0.5em 0.125em 0.3em hsla(60, 100%, 60%, 0.9);
  }
  
  75% {
    color: hsl(150, 100%, 85%);
    text-shadow:
      0 0 1em hsla(150, 100%, 50%, 0.7),
      0 0 0.125em hsla(150, 100%, 60%, 0.7),
      0.5em -0.125em 0.4em hsla(210, 100%, 60%, 0.5),
      -0.5em 0.125em 0.4em hsla(300, 100%, 60%, 0.7);
  }
  
  100% {
    color: hsl(230, 100%, 80%);
    text-shadow:
      0 0 1em hsla(230, 100%, 50%, 0.5),
      0 0 0.125em hsla(230, 100%, 60%, 0.5),
      1em -0.125em 0.5em hsla(60, 100%, 60%, 0.5),
      -1em 0.125em 0.5em hsla(180, 100%, 60%, 0.5);
  }
}

h2 {
  margin: auto;
  font-size: 4vw;
  font-weight: 300;
  animation: lights 4s 550ms linear infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%, 50% {
    border-color: transparent;
  }
  50.1%, 100% {
    border-color: hsl(230, 100%, 80%);
  }
}

h4 {
  margin: auto;
  font-size: 2vw;
  font-weight: 300;
  color:#fbfbfc;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid hsl(230, 100%, 80%);
  animation: 
    
    typewriter 4s steps(40) 1s 1 normal both,
    blink 500ms steps(40) infinite;
}

.bmi-chart{
  border:solid  rgb(100, 100, 100) 2px;
  width:50vw;
  height:30vh;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 30vw;
}

input[type='range']::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    yellow,  /* Yellow */
    green,   /* Green */
    orange,  /* Orange */
    red      /* Red */
  );
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  
  background-color: var(--primary-color);
  height: 0.6rem;
  width: 0.2rem;
  background-color: black;
}
